.flexi-cal .room-rate-type-section.room-rate-type-feature-cal{width:40%}
.date_change .calnder_date_heading ul li span,.flexi-cal .person_icon span i.fa{display:block}
.flexi-cal .person_icon span i.fa{height:20px}
.flexi-cal .person_icon span { /*float:left*/ display: block; text-align: center; }
.availability_rooms_calander{float:right;}
.mech-1, .mech-2 { margin-right:60px; }
.flexi-cal .person_icon{float:right;padding-top:5px; width: 57px;}
.avl-calender{float: right; max-width:417px; width: 100%; height: 50px; }
.flexi-list{width: 100%; clear: both; float: left}
.flexi-room-type{width:4%}
.right_content_calendar .rate-rule-red-button{padding:10px 0;font-size:13px}
#error_message_div{clear:both;margin-bottom:10px;position:relative}
#error_message_div a.close{bottom:10px;padding:0;position:absolute;right:10px}
.rate_type_room_flexi{width:50%;float:left}
.availability_rooms_calander-rate{float:left;width:430px;position:relative}
.rate_type_room_flexi h3 .room_type_name{font-size:18px;font-weight:normal;float:left;padding-right:10px}
.rate_type_room_flexi .room_icon{float:left;padding:8px 0 0}
.rate_type_room_flexi .room_x2{font-size:17px;font-weight:300;padding:0 10px;float:left}
.rate_type_room_flexi .room_avail_notify.red_col{background-color:#f44336;font-size:14px;font-weight:400;color:#fff;padding:6px 10px;border-radius:8px;float:left}
.flexi-rate .person_icon{float:right;width:4%}
.person_icon.flexi-icon{padding-top:45px}
.flexi-rate .person_icon span{display:block;width:100%}
.show_box_body .close{position:absolute;right:-5px;top:40px;width:25px;height:25px;border-radius:50%;line-height:25px;text-align:center;color:#fff;font-weight:bold;cursor:pointer;z-index:1}
.availability_rooms_calander-rate .show_box_body .check select,.rate_type_calendar .show_box_body .check select{background:url(../images/dropdown.jpg) no-repeat right center;border:#95989a 1px solid;border-radius:4px;-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:7px 25px 7px 7px;height:auto;display:block}
.addon-inner-section{width:60%;float:left}
.enhance-container-bg{float:left;width:100%;background:#fff;margin-bottom:10px;padding:20px}
.addon-image{float:left;width:25%;}
.addon-cont{width:50%;float:left;margin-left:2%;}
.addon-price{width:23%;float:left;}
 
.btn-default.btn-number{width:100%}
.input-number.addons-no{float:left;width:60px;text-align:center;height:32px}
.btn-default.btn-number{width:100%;height:32px;cursor:pointer;border:1px solid #ddd}
.btn-minus{border-radius:4px 0 0 4px}
.btnplus{border-radius:0 4px 4px 0}
.addons-qty .content_price{padding-bottom:10px}
.addons-qty .content_price h3{font-size:18px}
.enhance_heading{width:100%;background-color:#fff;padding:10px 20px;float:left;margin-top:15px;margin-bottom:15px;position:relative}
.enhance_heading h3{float:left;font-size:26px}
.enhance_heading .currency_room,.enhance_heading .currency_hotel{float:left;padding:0 10px;margin:6px 0 4px;border-left:#f0f0f0 2px solid;position:relative}
.enhance_heading .price_hotel{float:left;padding:0 10px;margin:6px 0 4px;border-left:#f0f0f0 2px solid;background:url(../images/filter_icon.jpg) no-repeat 9px 5px;padding-left:30px}
.enhance_heading .all-loc-map{float:left;padding:0 10px;margin:6px 0 4px}
.enhance_heading h1{font-size:27px;font-weight:400;margin:0;padding:0;line-height:1.2}
.enhance_heading h1 a{color:#354a59}
.enhance_heading h5{font-size:13px;padding-top:5px;color:#9ca6ae;font-weight:400;margin:0}
.enhance_heading .rate-rule-add-mob{float:left}
.enhance_heading .search_filter_block{float:right}
.enhance_heading select{font-size:15px;font-weight:600;text-transform:uppercase;background:url(../images/dropdown_two.jpg) no-repeat right center;padding:0 25px 0 0;border:0}
.addon-btn-area{float:left;background-color:#354a59;width:100%}
.back-to-room{background:#fff;height:50px;line-height:50px;padding:0 20px;float:left;cursor:pointer;text-transform:uppercase;font-size:16px;}
.continue-addons{background:#4078a3;color:#fff;height:50px;line-height:50px;float:left;padding:0 20px}
.btn-enhance-continue{background:0;border:0;line-height:50px;color:#fff;cursor:pointer;font-size:16px;font-weight:400;}
.enhance-container-bg .newaddon{float:left;margin-bottom:30px;width:100%; padding: 20px; border: 1px solid #e0e0e0}
.enhance_add_popup_rvng h2{font-size:14px;font-weight:600;margin:5px 0 0}
.enhance_add_popup_rvng .occ-daily{display:inline-block;margin:5px 0}
.confirmation-left,.confirm-left-6{float:left;width:60%}
.confirmation-right,.confirm-left-4{width:38%;float:right}
.hotel-confirmation{background:#fff;padding:20px;float:left}
.hotel-confirmation figure,.confirm-room-image{width:30%;float:left}
.hotel-confirmation .hotel-confirm-add-box{width:70%;float:left;/*padding-left:2%*/}
.hotel-confirm-add-box p{padding-bottom:8px;font-size:12px}
.hotel-confirm-name a{color:#354a59}
.map-confirmation{float:left;width:100%;border:3px solid #fdfdfd}
.room-confirmation{background:#fff;padding:10px;float:left;width:49%;margin-top:2%;min-height:385px}
.confirm-name{float:left;width:60%;margin-bottom:15px;padding:15px 0 15px 20px;background:#fff;font-size:24px}
.confirm-your-stay{width:38%;float:right;text-align:center;background:#354a59;padding:20px 0;color:#fff}
.confirmation-location{width:100%;float:left;background:#fff;padding:20px;margin-top:20px;font-size:13px}
.rooms-confirm{float:left;width:100%}
.confirm-reservation-details{text-align:center;font-size:24px}
.confirm-reservation-details p{padding-bottom:10px}
.confirm-reservation-details span{display:block;font-weight:bold}
.room-confirmation:nth-child(2n){margin-left:2%}
.room-confirm-detail{width:68%;float:right;font-size:12px}
.hotel-confirm-name{font-weight:600;font-size:13px!important}
.confirm-other-details{text-align:center;border-top:1px solid #ddd;padding-top:20px;margin-top:10px}
.confirm-room-charges{float:left;width:100%}
.confirm-check{background:#fff;padding:20px}
.confirm-price-inv{padding:8px 0}
.room-charges{padding-bottom:10px}
.room-confirm-detail p{padding-bottom:10px}
.confirm-cutomer-details,.confrim-addon-total{float:left;width:100%;background:#fff;margin-top:20px;padding:20px;text-align:center}
.room-charges-heading h5{font-size:24px}
.confirm-box{padding-bottom:15px}
.room-charges-heading h5{font-size:24px}
.confirm-customer-name,.confirm-email,.confirm-phone,.confirm-address,.addon-price-1,.confirm-room-charges-1,.confirm-gross-total-p,.enhancement-total-p{font-weight:600}
.total-room-charges,.enhancement-total{width:100%;float:left;padding-bottom:10px}
.confirm-gross-total{width:100%;float:left;padding-top:10px}
.tax-string{font-weight:600}
.tax-string strong{font-weight:normal;display:block}
.share-media{float:left;width:100%;text-align:center;margin-top:30px}
.comfirm-room-name{padding-bottom:5px}
.confirm-price-single-room{font-weight:600;padding-top:5px}
.print-confirmation-btn{width:100%;text-align:right;margin:10px 0}
.row-total-price{float:left;background:#fff;width:100%;text-align:center;margin-top:20px;padding:20px}
.rate_type_room_flexi{width:64%;float:left}
.availability_rooms_calander-rate{float:left;width:430px;position:relative}
.rate_type_room_flexi h3 .room_type_name{font-size:18px;font-weight:normal;float:left;padding-right:10px}
.rate_type_room_flexi .room_icon{float:left;padding:8px 0 0}
.rate_type_room_flexi .room_x2{font-size:17px;font-weight:300;padding:0 10px;float:left;margin:5px 0 0}
.rate_type_room_flexi .room_avail_notify.red_col{background-color:#f44336;font-size:14px;font-weight:400;color:#fff;padding:6px 10px;border-radius:8px;float:left}
.flexi-rate .person_icon{float:right;width:4%}
.person_icon.flexi-icon{padding-top:45px;display:none}
.flexi-rate .person_icon span{display:none;width:100%}
.show_box_body .close{position:absolute;right:6px;top:6px;width:25px;height:25px;border-radius:50%;line-height:25px;text-align:center;color:#a5a5a5;font-weight:bold;cursor:pointer;z-index:1;font-size:14px;box-shadow:0 1px 1px 1px rgba(0,0,0,.1)}
.availability_rooms_calander-rate .show_box_body .check select,.rate_type_calendar .show_box_body .check select{background:url(../images/dropdown.jpg) no-repeat right center;border:#95989a 1px solid;border-radius:4px;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;padding:7px 25px 7px 7px;height:auto;display:block; width: 100%;}
.availability_rooms_calander-rate .show_box_body .check select::-ms-expand,.rate_type_calendar .show_box_body .check select::-ms-expand{display:none}
.individual_book_now{float:left;width:100%}
.confirm-desc-text{font-size:12px;line-height:normal}
.checkout-left{width:60%;float:left;box-sizing:border-box}
.your-stay-container-checkout{width:38%;float:right}
.header-left-checkout{float:left;width:60%;margin:30px 0 20px;padding:10px 20px;font-size:26px;box-sizing:border-box;background:#fff}
.header-right-checkout{width:38%;float:right;background:#354a59;margin:30px 0 20px;padding:10px 20px;font-size:26px;box-sizing:border-box;color:#fff}
.checkout-page .form-block,.checkout-page .login_right, .roomdetails_save_edit .form-block {width:100%;padding-top:0}
.already-member{float:right;font-size:16px;font-weight:400; top: 25px; right: 18px; position: absolute; z-index: 1;}
.already-member a{color:#354a59}
.travel{padding-bottom:15px;font-size:14px;font-weight:600;background:#fff;float:left;width:100%;padding:20px;}
.travel label{padding-left:10px;font-weight:normal}
.checkout-page .login_sec .login_right{padding:10px 0}
.checkout-page #div_title,.guest-name .guest-title{width:12%;float:left}
#div_firstname,#div_lastname,.guest-name .guest-first-name,.guest-name .guest-last-name{width:35%;float:left;padding-left:3%}
#register_type_div{font-size:14px}
.checkout-page .guest_class{padding-right:20px;font-size:13px; font-weight:600;font-family: 'Open Sans',sans-serif; }
.checkout-page #div_email,.checkout-page #div_confirm_email,.password-area{float:left;width:100%}
.email-area,.confirm_email,#div_password .put-password,.con-pass{float:left;width:45%}
.star{color:#f00;}
/*#div_password, #div_repassword {margin-top:20px;}*/
.con-email{float:left;padding-top:40px;padding-left:1%; font-size:13px; font-weight:300;}
.checkout-page .control-label,.notstaying,.check_in_time,.check_out_time,.hear-about label{font-size:14px;font-weight:600 }
.phone-code{width:12%}
.phone-number{width:37.5%}
.notstaying label{display:inline-block;font-weight:normal}
.guestname-area{width:100%;float:left;border:1px solid #ddd;padding:20px;box-sizing:border-box;margin:20px 0 10px}
.login_sec.chech_in_time_guest,.login_sec.check_out_time_guest,.hear-about{float:left;width:33.3%}
.chech_in_time_guest select,.check_out_time_guest select{width:30%}
.hear-about label{display:block}
.hear-dropdown{padding-top:10px}
.hear-about select{background:url(../images/dropdown.jpg) no-repeat right center #fff;color:#aaa;width:100%;border:#d6d7d8 1px solid;font-weight:normal;border-radius:4px;-moz-appearance:none;-webkit-appearance:none;appearance:none;padding:12px 10px}
.other-details{background:#f1f1f1;padding:20px;float:left;width:100%}
#special-request-textbox{width:100%;min-height:100px;border:1px solid #ddd;resize:none;border-radius:4px;font-family:inherit;padding:10px;font-size:12px}
.note-bottom{padding-top:10px}
.purpose{margin:5px 0 0 20px;color:#424242;font-size:13px;display:inline-block}
.note-bottom label{padding-right:10px}
.room_container .guest-room{margin:0;padding:0} 
.aware{float:left;width:100%;background:#f1f1f1;padding:20px; margin: 0 0 12px 0; }
.flexi-radio{float:left;width:100%;margin:12px 0;background:#354a59;padding:20px;color:#fff} 
.flexi-radio span,.aware span{float:left;font-size:15px;width:97%;padding-left:10px;  line-height: 1.6}
.card-details{float:left;width:100%;padding:20px;box-sizing:border-box;background:#fff}
.label-card-details.checkout-steps{border-bottom:1px solid #ddd;padding-bottom:10px;margin:0 0 20px}
.card-details .form-control{resize:none}
#card-container{float:left;width:100%;padding-bottom:10px}
.issue-number,#div_cvv{width:20%;float:left}
.isn-input{padding-top:10px;width:90%}
#div_expire_month{width:38%;float:left}
.address2,.card-state,#div_card_zip{padding-left:3%}
#div_cvv{padding-left:0; padding-right:2%; }
.exp-month{width:49%;float:left}
.exp-year{width:49%;float:right}
#div_card_holder_name,#div_card_number{width:38%;float:left}
#div_card_holder_name{padding-right:3%}
#card-address-section{width:100%;float:left; background: #fff; padding:20px 0 0 20px; }
#registration-container .bottom_checkout #card-address-section {
    padding: 20px 0 0 0;
}
#div_card_address,#div_card_country,.card-state,#div_card_city,#div_card_zip, .address2 {width:38%;float:left}
#div_card_city{clear:left}
#cardDiv > h3 {font-weight:400;font-size:21px;  }
#policy-bottom{padding:20px;color:#354a59;background:#fff; font-size: 15px;}
#policy-bottom h3{margin-top:0;font-size:21px;padding-bottom:10px;font-weight:400;border-bottom: 1px solid #ddd;margin-bottom: 15px;}
#policy-bottom p{padding:8px 0;font-weight:normal;}
/*#policy-bottom > p:nth-child(5) > strong {font-weight:400;text-transform: uppercase;font-size:14px;}
#policy-bottom > p:nth-child(4) > strong {font-weight:400;text-transform: uppercase;font-size:14px;}
#policy-bottom > p:nth-child(3) > strong {font-weight:400;text-transform: uppercase;font-size:14px;}*/
#policy-bottom label{font-weight:400; font-size: 15px;}
.agree-registration{margin-bottom:20px;font-size:15px;color:#354a59}
#policy-bottom .checkbox input,.agree-box input{margin-right:10px}
#bookNow{width:100%;background:#354a59;padding:20px 0}
.login_right.other-special-request{background:0;padding:0!important}
.name-area{width:100%;float:left}
#div_phone{width:90%}
.room-number{width:100%;float:left;font-size:14px;padding-bottom:10px;font-weight:600}
.after-login label.control-label{float:left;padding-right: 10px;width: 140px; font-weight:normal!important;}
#policy-bottom h5{font-size:18px;font-weight:400;mrgin-bottom:5px;}
.travel-txt,.checkbox.checkout_checkbox,.flexi-radio-1,.flexi-radio-2{float:left}
.staying{clear:both}
.savemycard{display:inline-block;padding-left:10px;font-size:12px;font-weight:600}
.signin-sec{background:#fff;float:left;width:100%;padding:20px 20px 0 0;box-sizing:border-box; position: relative}
#signin-container .form-block{padding:0}
.section-sign-in-inner .login_sec.required{float:left;margin-right:3%;width:37%}
.section-sign-in-inner p{padding-bottom:15px}
.already-member a{cursor:pointer}
.section-sign-in-inner{border:1px solid #ddd;float:left;width:96%;padding:20px;margin:40px 2% 0}
.section-sign-in-inner h3{border:0}
.media-login{float:left; padding-top: 4px;}
.checkout-page{margin-top:10px}
.other-details .textarea_sec{padding-top:10px;clear:both}
.other-details-box{background:#fff;float:left;width:100%;padding:0 20px;box-sizing:border-box}
.form-block.your-details{padding-bottom:0}
.policy-checkout{width: 100%; clear: both; padding-bottom: 30px}
.policy-checkout .form-group{background-color: #f1f2f5; padding: 15px 10px}
.policy-checkout .form-group label{padding-bottom: 0}
.login_sec.after-login{padding-bottom:5px;clear:both;}
.login_sec.half.label-card-details{width:35%;padding-bottom:10px}
.login_sec.half.label-card-details label{padding-bottom:8px;display:inline-block}
#div_title .login_right select#title{padding:11px 10px}
#howtohear{padding-top:10px}
#save_cc_address_div{float:left;width:100%}
.login_right.save_card_num{padding-top:0!important}
.check_container a{color:#5a9000; position:relative; z-index: 1; }
#howtohear .login_right{padding-top:0}
.hotel-name-stay{background:#fff;float:left;width:100%;padding:20px;box-sizing:border-box}
.hotei-your-stay,.room-your-stay{width:25%;float:left;margin-right:2%}
span.hotel-show{display:block;padding-top:10px}
span.hotel-show a{color:#8d8a8a;font-size:12px}
span.hotel-show a:hover{color:#8c080a}
.rgt-img,.your-stay-room{float:left;width:73%;position:relative; margin-top: -5px;}
.rgt-img h4,.room-detail h4,.stay-room-type,.your-hotel{margin-top:0;color:#354a59;font-size:15px;font-weight:600;}
.rgt-img .hotel-detail{padding-top:20px;font-weight:300;}
.room-detail h4,.your-hotel{padding-bottom:5px;font-size:18px;font-weight:400;}
.rgt-img .hotel-detail p{padding-bottom:3px;color:#354a59;font-size:15px}
.total-stay{font-weight:300}
.return{position:absolute;top:0;right:0}
.room-detail{float:left;width:100%;background:#fff;margin-top:10px;padding:20px;box-sizing:border-box}
.room_addons{padding-top:20px;font-size:15px;color:#354a59}
.price-differ{float:left;width:100%;background:#fff;margin-top:10px;padding:20px;box-sizing:border-box}
.your-stay-container-checkout .price-detail{float:left;width:100%}
.total-room-charge-box,.gross-total,.tax-include,.voucher-table{float:left;width:100%;text-align:center;background:#fff;margin-top:10px;padding:20px;font-size:15px;color:#354a59; }
.gross-total{background:#e3e3e3}
.total-room-charge-price,.gross-total-price,#enhancementsubtotalclass{font-weight:600}
.voucher-box,#voucherHeadings{float:left;width:70%;text-align:left}
.voucher-code-label{font-size:14px}
#imgButton{float:left;background:#354a59;color:#fff;font-size:16px;height:40px;line-height:38px;padding:0 15px;margin:20px 0 0 5px;cursor:pointer;border-radius:4px;text-transform:uppercase;}
#txtVoucherCode{border:#d6d7d8 1px solid;border-radius:4px;height:40px!important}
#errMsg{font-size:14px;color:#f00; text-align: left;  margin: 5px 0 0;}
.back-btn{background:#000;height:38px;display:inline-block;line-height:38px;font-size:16px;padding:0 15px;border-radius:4px;color:#fff;text-transform:uppercase;}
.your-stay-back{margin-top:20px;float:right; clear: both; }
#enhancementsubtotalshow{background:#fff;float:left;width:100%;margin-top:10px;padding:20px;text-align:center;font-size:15px}
#enhancementsubtotalclass p{display:inline}
.continue_section{background:#354a59;width:38%;float:right;text-align:center;margin-top:10px;clear:right}
.continue_section button{background:0;border:0;color:#fff;padding:20px 0;cursor:pointer;width:100%;font-size:16px;font-weight:400;}
.signin-btn-area{float:left;width:100%}
.keeplogin{padding:10px 0 15px}
.sign_sec{float:left;padding-right:5px}
#total-room-charge-taxes{width:100%;float:left;background:#fff;text-align:center}
.addon-inner-section{width:60%;float:left}
.enhance-container-bg{float:left;width:100%;background:#fff;margin-bottom:25px;padding:20px}
.addon-image{float:left;width:15%}
.addon-cont{width:60%;float:left;margin-left:2%}
.addon-cont_rvng{width:82%;float:left;}
.addon-image ~  .addon-cont_rvng{margin-left:2%}
.addon-cont_rvng h4{color: #081f32; font-weight: 600}
.addon-cont_rvng p{color: #afafaf; color: #333; }
.enhance_add_popup_rvng{padding-top: 10px}
.addon-price{width:23%;float:left;padding-left:2%}
.input-group-btn{float:left;width:35px}
.btn-default.btn-number{width:100%}
.input-number.addons-no{float:left;width:40px;text-align:center;height:32px}
.btn-default.btn-number{width:100%;height:32px;cursor:pointer;border:1px solid #ddd}
.btn-minus{border-radius:4px 0 0 4px}
.btnplus{border-radius:0 4px 4px 0}
.addons-qty .content_price{padding-bottom:10px}
.addons-qty .content_price h3{font-size:18px}
.enhance_heading{width:100%;background-color:#fff;padding:12px 20px; float:left;margin-top:15px;margin-bottom:15px;position:relative}
.enhance_heading h3{float:left;font-size:26px;font-weight:400}
.enhance_heading .currency_room,.enhance_heading .currency_hotel{float:left;padding:0 10px;margin:6px 0 4px;border-left:#f0f0f0 2px solid;position:relative}
.enhance_heading .price_hotel{float:left;padding:0 10px;margin:6px 0 4px;border-left:#f0f0f0 2px solid;background:url(../images/filter_icon.jpg) no-repeat 9px 5px;padding-left:30px}
.enhance_heading .all-loc-map{float:left;padding:0 10px;margin:6px 0 4px}
.enhance_heading h1{font-size:27px;font-weight:400;margin:0;padding:0;line-height:1.2}
.enhance_heading h1 a{color:#354a59}
.enhance_heading h5{font-size:13px;padding-top:5px;color:#9ca6ae;font-weight:400;margin:0}
.enhance_heading .rate-rule-add-mob{float:left}
.enhance_heading .search_filter_block{float:right}
.enhance_heading select{font-size:15px;font-weight:600;text-transform:uppercase;background:url(../images/dropdown_two.jpg) no-repeat right center;padding:0 25px 0 0;border:0}
.enhance_add_popup_rvng .time-sel select, .enhance_add_popup_rvng span select{margin:0 5px;padding:5px 35px  5px 8px; border: 1px solid #d6d7d8; background:url(../images/selc_drop.png) no-repeat right center;-webkit-appearance:none; -moz-appearance:none;  appearance: none}
.addon-btn-area{float:left;background-color:#354a59;width:100%}
.enhance_add_popup_rvng .date-selection{margin-right:10px}
.back-to-room{background:#fff;height:50px;line-height:50px;padding:0 20px;float:left;cursor:pointer}
.continue-addons{background:#4078a3;color:#fff;height:50px;line-height:50px;float:left;padding:0}
.btn-enhance-continue{background:0;border:0;line-height:28px;color:#fff;cursor:pointer}
#voucherDiscountDiv,#tier_join_charges_info{background:#fff;text-align:center;float:left;width:100%;margin-top:10px;padding:10px 0}
.voucherCode{float:left;width:100%;background:#fff;text-align:center;margin-top:10px}
#imgButton img{padding-top:10px}
.addons .blue_bg{padding:8px 25px}
.confirmation-left{float:left;width:60%}
.confirm-left-6,.confirm-left-4{width:49%;float:left}
.confirm-left-4{margin-left:2%}
.confirmation-right{width:38%;float:right}
.hotel-confirmation{background:#fff;padding:20px;float:left;height:306px; width: 100%;}
.hotel-confirmation > p{font-size: 15px; font-weight: 600; padding-bottom: 10px}
.hotel-confirmation figure,.confirm-room-image{width:30%;float:left;  }
.confirm-room-image { margin: 0 10px 10px 0; }
.hotel-confirmation .hotel-confirm-add-box{width:70%;float:left;padding-left:2%}
.hotel-confirm-add-box p{padding-bottom:8px;font-size:12px; padding-left: 16px}
.hotel-confirm-name a{color:#354a59}
.map-confirmation{float:left;width:100%;border:3px solid #fdfdfd}
.room-confirmation{background:#fff;padding:20px;float:left;width:49%;margin-top:2%; }
.confirm-name{float:left;width:60%;margin-bottom:15px;padding:15px 0 15px 20px;background:#fff;font-size:24px; color:#6a7177; }
.confirm-other-details p:nth-of-type(2) {
    color:#70c236; 
	font-weight: 600;
}
.confirm-name span{font-weight: 600}
.hotel-confirmation h6, .room-confirmation h6{font-size: 14px; font-weight: 600; padding-bottom: 10px}
.room-confirm-detail .confirm-room-type{font-size: 15px; font-weight: 600}
.hotel-confirm-add-box p.hotel-confirm-name{font-size: 13px; font-weight: 600}
.confirm-your-stay{width:38%;float:right;text-align:center;background:#354a59;padding:20px 0;color:#fff}
.confirmation-location{width:100%;float:left;background:#fff;padding:20px;margin-top:20px;font-size:13px}
.rooms-confirm{float:left;width:100%}
.confirm-reservation-details{text-align:center;font-size:24px}
.confirm-reservation-details p{padding-bottom:10px}
.confirm-reservation-details span{display:block;font-weight:bold}
.room-confirmation:nth-child(2n){margin-left:2%}
.room-confirm-detail{ width: 100%; float: right; font-size: 13px; padding-left: 0; }
.confirm-other-details{text-align:center;border-top:1px solid #ddd;padding-top:20px;margin-top:10px}
.confirm-room-charges{float:left;width:100%}
.confirm-check{background:#fff;padding:20px}
.confirm-price-inv{padding:8px 0}
.confirm-gross-total .confirm-gross-total-p { font-size: 18px; }
.room-charges{padding-bottom:10px}
.room-confirm-detail p{padding-bottom:10px}
.confirm-cutomer-details,.confrim-addon-total{float:left;width:100%;background:#fff;margin-top:4px;padding:0 20px;text-align:center; margin-bottom: 5px;}
.room-charges-heading h5{font-size:24px}
.confirm-box{padding-bottom:15px}
.room-charges-heading h5{font-size:19px; padding-bottom: 3px}
.room-charges-heading span{ font-size: 12px; color:#e3e3e3}
.confirm-customer-name,.confirm-email,.confirm-phone,.confirm-address,.addon-price-1,.confirm-room-charges-1,.confirm-gross-total-p,.enhancement-total-p{font-weight:600}
.total-room-charges,.enhancement-total{width:100%;float:left;padding-bottom:10px}
.confirm-gross-total{width:100%;float:left;padding-top:0}
.tax-string{font-weight:600}
.confirm-room-charges .room-charges-heading{padding: 20px; background-color: #ffffff; margin: 4px 0; float: left; width: 100%}
.confirm-room-charges .room-charges, .enhancement-total {padding: 10px; background-color: #ffffff; margin: 4px 0; float: left; width: 100%; text-align: center}
.confirm-room-charges .tax-string{padding: 10px; background-color: #e3e3e3; margin: 4px 0; float: left; width: 100%; text-align: center}
.tax-string strong{font-weight:normal;display:block}
.share-media{float:left;width:100%;text-align:center;margin-top:30px}
.comfirm-room-name{padding-bottom:5px; font-size: 15px; font-weight: 600}
.room-confirm-detail p.confirm-room-type{font-size: 15px; font-weight: 600}
.confirm-price-single-room{font-weight:600;padding-top:5px; display: inline-block; }
.confirm-price-inv .col-md-6.col-sm-6.col-xs-12 {  display: inline-block; }
.print-confirmation-btn{width:100%;text-align:right;margin:10px 0}
.row-total-price{float:left;background:#fff;width:100%;text-align:center;margin-top:20px;padding:20px}
.flexi-cal .room-rate-type-section.room-rate-type-feature-cal{width:32%}
.reservation-area{margin-top:20px}
#sidebar .room-detail{padding:5px 0 9px 0;text-align:center}
.charges_heading{background-color: #354a59; padding: 15px 0; text-align: center; margin-top: 5px}
.charges_heading h4{font-size: 14px; color: #ffffff}
@media all and (-ms-high-contrast:none){
	*::-ms-backdrop,.search_filter_block .dropdown-toggle{background:url("../images/filttersel_arrow.svg") no-repeat 15px center}
}
 
#frmAddons > div > div.col-md-9 > div.addon-inner-section > div.enhance-container-bg > div > div.addon-cont > h4{font-weight:400;}
#frmAddons > div > div.col-md-9 > div.addon-inner-section > div.enhance-container-bg > div > div.addon-cont > p {font-size:15px;font-weight:300;}
#frmAddons > div > div.col-md-9 > div.addon-inner-section > div.enhance-container-bg > div > div.addon-price > div > div.content_price > p {display:none;}
#frmAddons > div > div.col-md-9 > div.addon-inner-section > div.enhance-container-bg > div > div.addon-price > div > div.content_price > h3 {font-weight:400;}
#your-stay > div.hotel-name-stay > div.rgt-img > p {font-weight:300}
#your-stay > div.hotel-name-stay > div.rgt-img > div > p:nth-child(1) > span {font-weight:400;}
#your-stay > div.hotel-name-stay > div.rgt-img > div > p:nth-child(2) > span {font-weight:400;}
#your-stay > div.hotel-name-stay > div.rgt-img > div > p.total-stay > span {font-weight:400;}
#your-stay > div.room-detail > div.your-stay-room > div.rgt-img-stay > p.rate-type-special-offer > span {font-weight:300;}
#your-stay > div.room-detail > div.your-stay-room > div.room_addons > p:nth-child(1) > span:nth-child(2) {font-weight:300;}
#your-stay > div.room-detail > div.your-stay-room > div.room_addons > p:nth-child(2) > span:nth-child(2) {font-weight:300;}
#your-stay > div.room-detail > div.your-stay-room > div.rgt-img-stay > p.rate-type-special-offer {font-size:15px;}
#room_addons9061_1112 > div > p {font-weight:300;}
#room_addons9061_1112 > div > p > span {font-weight:400;}
#credit_card_address #div_card_country {   clear: left; }
.reservation-cancellation {  float: left;  width: 100%;  padding: 25px 15px; background-color: #ffffff }
.reservation-cancellation b {  font-weight: 400;  margin: 10px 0 0;  display: block  }
 
.voucher-box { width: 100%; }
.confirmation-rooms .room-charges-heading h5, .enhancement-total-t { font-weight: 600;  font-size: 14px;  padding: 0; }
.roomdetails_save_edit .not-stay {
    padding-left: 0;
}
.roomdetails_save_edit #cardDiv {
    padding-top: 20px; 
}
@media only screen and (max-width:480px){
	.hotel-confirmation .hotel-confirm-add-box{padding: 2% 0px 0px 0px;}
}
@media only screen and (max-width:480px){
	.enhance_add_popup_rvng span select {margin-bottom: 10px !important;} 
	.confirm-room-image {margin: 0 0px 10px 0;}
}

